---
layout: base.njk
---

<header class="content-header">
  <h1>{{ title }}</h1>
  {% if subtitle %}
    <p class="subtitle">{{ subtitle }}</p>
  {% endif %}
</header>

<div class="top-content">

  {% if tags.length > 0 %}
  <div class="tags" style="margin-top: 0em;">
    {% for tag in tags | sort %}
      {% if not loop.first %}|{% endif %}
      <a href="/tags/{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </div>

  {% endif %}
  <div class="dates" style="margin-top: 0em;">
  {% if dateCreated or dateModified %}
    <p class="date">
    {% if dateCreated %}Created: {{ dateCreated | dateFormat }}{% endif %}
    {% if dateCreated and dateModified %}|{% endif %}
    {% if dateModified %}Modified: {{ dateModified | dateFormat }}{% endif %}
    </p>
  {% endif %}
  </div>
</div>


<main class="content">
  {{ content | safe }}
</main>


{% if backlinks.length > 0 %}
<nav class="backlinks">
    <h3>Linking here</h3>
    <ul>
        {% for link in backlinks %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endif %}
