---
layout: base.njk
---

<header class="content-header">
  <h1>{{ title }}</h1>
  {% if subtitle %}
    <p class="subtitle">{{ subtitle }}</p>
  {% endif %}

  {% if tags.length > 0 %}
  <nav class="tags">
    {% for tag in tags %}
      {% if not loop.first %}|{% endif %}
      <a href="/tags/{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </nav>
  {% endif %}
</header>

<main class="content">
  {{ content | safe }}
</main>

{% if backlinks.length > 0 %}
<nav class="backlinks">
    <h3>Linking here</h3>
    <ul>
        {% for link in backlinks %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endif %}
